.container-1, .container-2, .container-4, .container-5 {

  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.flex-box-container-1, .flex-box-container-2, .flex-box-pick-color, .flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3 {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3 {
  background: url('https://mk0gamesnetentcxytko.kinstacdn.com/wp-content/uploads/2018/09/blackjack_background.jpg');
  color: #ffffff;
  padding: 10px;
}

.flex-blackjack-row-1 div {
  border: 1px solid black;
  padding: 10px;
  flex: 1;
  text-align: center;
  height: 350px;
}

.flex-blackjack-row-1 img {
  width: 25%;
  padding: 10px;
}

.flex-box-container-1 div {
  display: flex;
  border: 1px solid black;
  padding: 10px;
  align-items: center;
}


.flex-box-container-2 img {
  border: 1px solid grey;
  padding: 10px;
  box-shadow: 0px 10 px 50px rgba(0, 0, 0, 0.7);
}

.container-3 {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.flex-box-rps img:hover {
  padding: 10px;
  box-shadow: 0px 10 px 50px rgba(37, 50, 233, 1);
}

table, th, td {
  padding: 10px;
  border: 1px solid white;
}